In [9]:
#import dependenceis
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [15]:
#view data sources
ILI_data_path = 'FluViewPhase2Data (2)/ILINet.csv'
clin_data_path = 'FluViewPhase2Data (2)/WHO_NREVSS_Clinical_Labs.csv'
#pub_data_path = 'FluViewPhase2Data (2)/WHO_NREVSS_Public_Health_Labs.csv'

#read data sources
ILI_data = pd.read_csv(ILI_data_path, skiprows = 1)
clin_data = pd.read_csv(clin_data_path)
#pub_data = pd.read_csv(pub_data_path)

In [26]:
#view ILI
ILI_df = pd.DataFrame(ILI_data)

#remove null values
ILI_drop = ILI_df.drop(ILI_df.column['% WEIGHTED ILI']== 'X', inplace=True)

ILI_drop.head(11)

#convert datatypes of columns to float
#ILI_df[['','NUM. OF PROVIDERS']].apply(pd.to_numeric)



#clean ILI

KeyError: '[ True  True  True ...  True  True  True] not found in axis'

In [19]:
ILI_df.head(11)

,REGION TYPE,REGION,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
0,States,Alabama,2016,40,X,2.22398,X,X,X,X,X,X,169,23,7599
1,States,Alaska,2016,40,X,0.940228,X,X,X,X,X,X,14,6,1489
2,States,Arizona,2016,40,X,1.23442,X,X,X,X,X,X,309,49,25032
3,States,Arkansas,2016,40,X,0.917431,X,X,X,X,X,X,40,13,4360
4,States,California,2016,40,X,1.25288,X,X,X,X,X,X,668,129,53317
5,States,Colorado,2016,40,X,0.77574,X,X,X,X,X,X,22,5,2836
6,States,Connecticut,2016,40,X,1.23552,X,X,X,X,X,X,64,19,5180
7,States,Delaware,2016,40,X,0.104858,X,X,X,X,X,X,3,12,2861
8,States,District of Columbia,2016,40,X,5.52486,X,X,X,X,X,X,160,2,2896
9,States,Florida,2016,40,X,X,X,X,X,X,X,X,X,X,X
10,States,Georgia,2016,40,X,1.62466,X,X,X,X,X,X,903,53,55581

In [12]:
#view clinical
clin_df = pd.DataFrame(clin_data)

clin_df.head(10)

#clean clinical

                                                                                                      *Beginning for the 2015-16 season, reports from public health and clinical laboratories are presented separately in the weekly influenza update, FluView. Data from clinical laboratories include the weekly total number of specimens tested, the number of positive influenza test, and the percent positive by influenza type.
REGION TYPE REGION               YEAR WEEK TOTAL SPECIMENS TOTAL A TOTAL B PERCENT POSITIVE PERCENT A                                          PERCENT B
States      Alabama              2016 40   406             4       1       1.23             0.99                                                    0.25
            Alaska               2016 40   X               X       X       X                X                                                          X
            Arizona              2016 40   133             0       0       0                0                                                          0
            Arkansas             2016 40   47              0       0       0                0                                                          0
            California           2016 40   668             2       0       0.3              0.3                                                        0
            Colorado             2016 40   260             0       0       0                0                                                          0
            Connecticut          2016 40   199             3       0       1.51             1.51                                                       0
            Delaware             2016 40   40              0       0       0                0                                                          0
            District of Columbia 2016 40   X               X       X       X                X                                                          X

In [23]:
#view public
#pub_df = pd.DataFrame(pub_data)

#pub_df.head(10)

#clean public

In [ ]:
#Combine the cleaned data into a single dataset

#mouse_study = pd.DataFrame.merge(mouse_metadata, study_results, how="inner", on="Mouse ID")