In [9]:
#import dependenceis
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [15]:
#view data sources
ILI_data_path = 'FluViewPhase2Data (2)/ILINet.csv'
clin_data_path = 'FluViewPhase2Data (2)/WHO_NREVSS_Clinical_Labs.csv'
pub_data_path = 'FluViewPhase2Data (2)/WHO_NREVSS_Public_Health_Labs.csv'

#read data sources
ILI_data = pd.read_csv(ILI_data_path, skiprows = 1)
clin_data = pd.read_csv(clin_data_path)
pub_data = pd.read_csv(pub_data_path)

In [16]:
#view ILI
ILI_df = pd.DataFrame(ILI_data)

ILI_df.info()

#clean ILI

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11284 entries, 0 to 11283
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   REGION TYPE        11284 non-null  object
 1   REGION             11284 non-null  object
 2   YEAR               11284 non-null  int64
 3   WEEK               11284 non-null  int64
 4   % WEIGHTED ILI     11284 non-null  object
 5   %UNWEIGHTED ILI    11284 non-null  object
 6   AGE 0-4            11284 non-null  object
 7   AGE 25-49          11284 non-null  object
 8   AGE 25-64          11284 non-null  object
 9   AGE 5-24           11284 non-null  object
 10  AGE 50-64          11284 non-null  object
 11  AGE 65             11284 non-null  object
 12  ILITOTAL           11284 non-null  object
 13  NUM. OF PROVIDERS  11284 non-null  object
 14  TOTAL PATIENTS     11284 non-null  object
dtypes: int64(2), object(13)
memory usage: 1.3+ MB

In [17]:
ILI_df.head()

,REGION TYPE,REGION,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
0,States,Alabama,2016,40,X,2.22398,X,X,X,X,X,X,169,23,7599
1,States,Alaska,2016,40,X,0.940228,X,X,X,X,X,X,14,6,1489
2,States,Arizona,2016,40,X,1.23442,X,X,X,X,X,X,309,49,25032
3,States,Arkansas,2016,40,X,0.917431,X,X,X,X,X,X,40,13,4360
4,States,California,2016,40,X,1.25288,X,X,X,X,X,X,668,129,53317

In [12]:
#view clinical
clin_df = pd.DataFrame(clin_data)

clin_df.head(10)

#clean clinical

                                                                                                      *Beginning for the 2015-16 season, reports from public health and clinical laboratories are presented separately in the weekly influenza update, FluView. Data from clinical laboratories include the weekly total number of specimens tested, the number of positive influenza test, and the percent positive by influenza type.
REGION TYPE REGION               YEAR WEEK TOTAL SPECIMENS TOTAL A TOTAL B PERCENT POSITIVE PERCENT A                                          PERCENT B
States      Alabama              2016 40   406             4       1       1.23             0.99                                                    0.25
            Alaska               2016 40   X               X       X       X                X                                                          X
            Arizona              2016 40   133             0       0       0                0                                                          0
            Arkansas             2016 40   47              0       0       0                0                                                          0
            California           2016 40   668             2       0       0.3              0.3                                                        0
            Colorado             2016 40   260             0       0       0                0                                                          0
            Connecticut          2016 40   199             3       0       1.51             1.51                                                       0
            Delaware             2016 40   40              0       0       0                0                                                          0
            District of Columbia 2016 40   X               X       X       X                X                                                          X

In [13]:
#view public
pub_df = pd.DataFrame(pub_data)

pub_df.head(10)

#clean public

                                                                                                                                   *Beginning for the 2015-16 season, reports from public health and clinical laboratories are presented separately in the weekly influenza update, FluView.  Data presented from public health laboratories include the weekly total number of specimens tested, the number of positive influenza tests, and the number by influenza virus type, subtype, and influenza B lineage.
REGION TYPE REGION               SEASON_DESCRIPTION TOTAL SPECIMENS A (2009 H1N1) A (H3) A (Subtyping not Performed) B   BVic BYam                                              H3N2v
States      Alabama              Season 2016-17     570             3             227    1                           2   15   14                                                    0
            Alaska               Season 2016-17     5222            14            905    3                           252 2    11                                                    0
            Arizona              Season 2016-17     2975            63            1630   0                           5   227  578                                                   0
            Arkansas             Season 2016-17     121             0             51     0                           0   4    0                                                     0
            California           Season 2016-17     14074           184           4696   120                         116 28   152                                                   0
            Colorado             Season 2016-17     714             3             267    2                           4   31   219                                                   0
            Connecticut          Season 2016-17     1348            19            968    0                           0   62   263                                                   0
            Delaware             Season 2016-17     3090            5             659    4                           11  27   127                                                   1
            District of Columbia Season 2016-17     73              1             34     0                           3   0    4                                                     0

In [ ]:
#Combine the cleaned data into a single dataset

#mouse_study = pd.DataFrame.merge(mouse_metadata, study_results, how="inner", on="Mouse ID")