In [12]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [13]:
pub_data_path = 'FluViewPhase2Data (2)/WHO_NREVSS_Public_Health_Labs.csv'
pub_data = pd.read_csv(pub_data_path, skiprows = 1)

In [15]:
pub_df  = pd.DataFrame(pub_data)
pub_df.head()

,REGION TYPE,REGION,SEASON_DESCRIPTION,TOTAL SPECIMENS,A (2009 H1N1),A (H3),A (Subtyping not Performed),B,BVic,BYam,H3N2v
0,States,Alabama,Season 2016-17,570,3,227,1,2,15,14,0
1,States,Alaska,Season 2016-17,5222,14,905,3,252,2,11,0
2,States,Arizona,Season 2016-17,2975,63,1630,0,5,227,578,0
3,States,Arkansas,Season 2016-17,121,0,51,0,0,4,0,0
4,States,California,Season 2016-17,14074,184,4696,120,116,28,152,0