In [8]:
#import dependenceis
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [10]:
#view data sources
ILI_data_path = '../OriginalData/ILINet.csv'
clin_data_path = '../OriginalData/WHO_NREVSS_Clinical_Labs.csv'
#pub_data_path = 'FluViewPhase2Data (2)/WHO_NREVSS_Public_Health_Labs.csv'

#read data sources
ILI_data = pd.read_csv(ILI_data_path, skiprows = 1)
clin_data = pd.read_csv(clin_data_path)
#pub_data = pd.read_csv(pub_data_path)

In [17]:
#view ILI
ILI_df = pd.DataFrame(ILI_data)

#remove null values in full columns
ILI_drop = ILI_df.drop(columns = ['NUM. OF PROVIDERS', '% WEIGHTED ILI','AGE 0-4','AGE 25-49', 'AGE 25-64', 'AGE 5-24', 'AGE 50-64','AGE 65'])

#remove any rows that contain X
ILI_drop2 = ILI_drop[ILI_drop['%UNWEIGHTED ILI'] != 'X']
ILI_drop2 = ILI_drop[ILI_drop['ILITOTAL'] != 'X']
#ILI_drop2 = ILI-drop[ILI_drop['TOTAL PATIENTS'] != 'X']


#convert datatypes of columns to float
ILI_drop2 = ILI_drop2[['YEAR', 'WEEK', '%UNWEIGHTED ILI', 'ILITOTAL', 'TOTAL PATIENTS']].astype(float)


#clean ILI
nxt_ILI = ILI_drop2

nxt_ILI

         YEAR  WEEK  %UNWEIGHTED ILI  ILITOTAL  TOTAL PATIENTS
0      2016.0  40.0         2.223980     169.0          7599.0
1      2016.0  40.0         0.940228      14.0          1489.0
2      2016.0  40.0         1.234420     309.0         25032.0
3      2016.0  40.0         0.917431      40.0          4360.0
4      2016.0  40.0         1.252880     668.0         53317.0
...       ...   ...              ...       ...             ...
11278  2020.0  39.0         0.992833     169.0         17022.0
11279  2020.0  39.0         1.195460      20.0          1673.0
11281  2020.0  39.0         4.747600      79.0          1664.0
11282  2020.0  39.0         0.000000       0.0           238.0
11283  2020.0  39.0         0.846627     648.0         76539.0

[11024 rows x 5 columns]

In [22]:
#clean weeks. . .
#Spring - starts the third week of March (month 3) --> March week 3 to June week 2 --> week 12 to week 24


if week < 24 | week > 12:
    ILI_sum = nxt_ILI['ILITOTAL'].sum()



#Summer - starts the third week of June (month 6) --> June week 3 to September week 2 --> week 25 to week 37
#Fall - starts the third week of September (month 9) --> September week 3 to December week 2 --> week 38 to week 50
#Winter - starts the third week of December (month 12) --> December week 3 to March week 2 --> week 51, 52, and week 1 to week 11

NameError: name 'week' is not defined

In [14]:
#ILI df to csv for merge
clean_ILI.to_csv('ILI.csv',index=False)